@import "tailwindcss";


html,
body,
#root {
  max-width: 100%;
  overflow-x: hidden;
}

button, link{
  cursor: pointer;
}

@keyframes skeletonShimmer {
  100% {
    transform: translateX(100%);
  }
}

.category-scrollbar {
  scrollbar-width: none;
  overscroll-behavior-x: contain;
  scroll-padding-inline: 1.25rem;
}

.category-scrollbar::-webkit-scrollbar {
  display: none;
}
